{%extends 'base.html'%}
{%block content%}
{%load static%}


<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

    </ol>
    <div class="carousel-inner">
        <div class="carousel-item" data-interval="10000">
            <img src="static/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active" data-interval="2500">
            <img src="static/2.jpg" class="d-block w-100" alt="...">
        </div>


        <div class="carousel-item" data-interval="2500">
            <img src="static/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2500">
            <img src="static/4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2500">
            <img src="static/7.jpg" class="d-block w-100" alt="...">
        </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div>
        <h1 style="color:blue; font-size:800%;">Why study abroad?</h1>
        <p style="font-size:250%;">See the world, experience a new culture, dive into a world-class education – and
            prepare for your global future. Nothing beats the immersive international experience you’ll get while
            studying abroad.</p>
    </div>
    <div>
        <div class="card mb-3" style="max-width:900px;max-height:600px; position:center;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="static/card1.jpg" height="100%" width="200%" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:200%;"><b>Step-by-Step guide to International Study</b>
                        </h5>
                        <p class="card-text"><i>We will help you choose you the Course and Country that's right for you
                            and then guide through paper work and make it happen.</i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                     class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="font-size:200%;"><b>Benefits of Overseas Studies</b></h5>
                    <p class="card-text"><i>From improved career prospects to a whole new global mindset - there are
                        some advantages to an international qualification.</i></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1><b>VISA process</b></h1>
    </div>
    <div class="container">
        <p>
            VISA9 Educational Consulting Services helps you in entire Visa process like, filling up applications,
            preparing financial statements, and also guidance and training for mock interviews and much more. We are
            regularly advised by the consulates about the latest Visa documentation and rules, and have high VISA
            success rates.

            The best policy before the consulate office is to be truthful. There are always misconceptions that a
            marriage or being the only son or individual relatives and friends in that country could be a ground for
            either giving or not giving the visa. The most important points that are looked into, at the time of visa
            are that you have sufficient funds to execute your studies and you are not a prospective immigrant. Good
            preparation always helps a student to reply promptly and confidently. We are very proud that because of this
            thorough preparation, VISA9 Educational Consulting Services have been able to help students in achieving
            their objective.
        </p>
        <h1><b>VISA Documentation</b></h1>
        <p>
            VISA9 Educational Consulting Services helps you in entire Visa process like, filling up applications,
            preparing financial statements, and also guidance and training for mock interviews and much more. We are
            regularly advised by the consulates about the latest Visa documentation and rules, and have high VISA
            success rates.

            The best policy before the consulate office is to be truthful. There are always misconceptions that a
            marriage or being the only son or individual relatives and friends in that country could be a ground for
            either giving or not giving the visa. The most important points that are looked into, at the time of visa
            are that you have sufficient funds to execute your studies and you are not a prospective immigrant. Good
            preparation always helps a student to reply promptly and confidently. We are very proud that because of this
            thorough preparation, VISA9 Educational Consulting Services have been able to help students in achieving
            their objective.
        </p>
        <ul style="border:solid black; padding-left:20%;">
            <li>Your financial and academic background.</li>
            <li>Presentation of the documentation</li>
            <li> Preparing the cover letter and finally,</li>
            <li> Preparing for the Visa Interview (if required)</li>
        </ul>
        <P>The counseling service is meant to prepare you well and give you the confidence and conviction necessary to
            face the visa officer. Grateful letters of Appreciation from students who got their visas stand testimony to
            our expertise and commitment.</P>
        <h1><b>VISA Appointment</b></h1>
        <P>Advance visa planning and early visa application are important, since visa applications are subject to a
            greater degree of scrutiny than in the past. If you plan to apply for a student visa to come to the any
            foreign country, we know you?d like to estimate how long you will have to wait to get an interview
            appointment to apply for a visa.</P>
        <p>It is important to thoroughly review all information on the specific Embassy's Consular Section website for
            local procedures and instructions, such as how to make an interview appointment. Our consolers will also
            explain any additional procedures for students and those persons who need an earlier visa interview
            appointment. We help you secure an appointment at the visa consulate.</p>
        <h2><b>Admission Process</b></h2>
        <p>At VISA9 educational consulting services, We walk with you till the very end and make sure you understand the
            procedure involved regarding admissions to international universities. The counselors have an excellent
            understanding of requirements of different universities. They know what these universities are looking for
            and will suggest you universities that seek students with your profile.</p>
        <p>We come across two kinds of students, one that want to get into the top schools and the other who believe
            that they can?t join the top schools and wish to go to schools which are good and cheaper than the Ivy
            Leagues. The latter normally end up applying to universities that their friends, seniors at college or
            relatives went to. Thus, they could end up in schools which are not as good as they deserve.</p>
        <h2><b>Counselling</b></h2>
        <P style="padding-right:60%;">At VISA9 educational consulting services, We walk with you till the very end and
            make sure you understand the procedure involved regarding admissions to international universities. The
            counselors have an excellent understanding of requirements of different universities. They know what these
            universities are looking for and will suggest you universities that seek students with your profile.</P>
        <p style="padding-right:60%;">We come across two kinds of students, one that want to get into the top schools
            and the other who believe that they can?t join the top schools and wish to go to schools which are good and
            cheaper than the Ivy Leagues. The latter normally end up applying to universities that their friends,
            seniors at college or relatives went to. Thus, they could end up in schools which are not as good as they
            deserve.</p>
        <div style="padding-bottom:80%;padding-left:60%;"><h2><b>Admission Documentation</b></h2>
            <p>Your previous academic background and scores in the standardized tests (GRE/ GMAT/ TOEFL / SAT) show what
                you are capable of delivering. The admissions committee also wants to know what are the motivations that
                are driving your life at this point in time. Why do you want to pursue the course you are applying for?
                How relevant is the course to your long term goals? Since you will not go through an interview, the
                admissions committee gets to know about you as a person through your documents you provide at the time
                of seeking an admission.</p>

        </div>
    </div>
    <div class="container" id="3">
        <h1><b>Study Destinations</b></h1>
        <div class="card-deck">
                <div class="card bg-light text-dark" style="width:40%;height:100%;">
                    <img src="static/usa.jpg " class="card-img" alt="...">
                    <div class="card-img-overlay">


                        <h1 class="card-text" style="padding-top:40%; decoration:none;"><a href="#">Study In USA</a>
                        </h1>
                    </div>
                </div>
         <div class="card bg-light text-dark" style="width:60%;height:40%;">
                    <img src="static/can.jpg " class="card-img" alt="...">
                    <div class="card-img-overlay">


                        <h1 class="card-text" style="padding-top:60%; decoration:none;"><a href="#">Study In CANADA</a>
                        </h1>
                    </div>
                </div>
        </div>
    </div>


    <div style="padding-top:5%;">
        <h2 id="testmonials"><b>Testmonials</b></h2>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="static/lavan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">I am very much impressed with the visa9, i got my visa on my first attempt.</p>
                    <p class="carad-text"><small class="text-muted">K.LAVAN KUMAR</small></p>
                </div>
            </div>
        </div>
    </div>



        <div class="container" style="padding-top:5%;">
            <h2><strong>About Visa9</strong></h2>
            <div class="row">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/0L-LInHJF_4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <iframe width="450" height="315" src="https://www.youtube.com/embed/wmKPgwJxmZw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>


        <div class="container" style="  padding-top:98%;">
            <h3 style="font-style:italic; ">Inquiry Form</h3>
            <form action="inquiry" method="POST">
                {%csrf_token%}

                <div class="col">
                    <input type="text" class="form-control" name="first_name" placeholder="First name">
                </div>
                <br>
                <div class="col">
                    <input type="text" class="form-control" name="last_name" placeholder="Last name">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" placeholder="email" name="email" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phone number</label>
                            <input type="text" class="form-control" placeholder="phone number" name="phone_number"
                                   id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" placeholder="message"></textarea>
                    </div>

                </div>


               <div class="form-check">
            <input class="form-check-input" type="checkbox" name="usa" value="True" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                USA
            </label>
        </div>
               <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" name="canada" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                CANADA
            </label>
        </div>
                <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" name="australia" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
                AUSTRALIA
            </label>
        </div>
                <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" name="united_kingdom" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
                UNITED KINGDOM
            </label>
        </div>
           <button type="submit" class="btn btn-primary">Submit</button>

              </form>
        </div>
</div>


{%endblock%}
