{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> Visa9</title>
      <link rel="shortcut icon" type="image/png" href="static/6.jpg">
  </head>
  <body><!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#001133 ; padding-top: 0.005%;padding-bottom: 0.005%;">


  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" style="padding-left: 700px;">

        <li class="nav-item">
        <a class="nav-link" href="logout/" style="color:white;">Student logout</a>
      </li>
        <p>|</p>
         <li class="nav-item">
        <a class="nav-link" href="#" style="color:white;">Welcome {{user.first_name}}</a>
      </li>

    </ul>
  </div>
</nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" padding-top:60px; background:white; ">
       <div style="padding-bottom:3%; "> <a class="navbar-brand" href="#">
    <img src="static/5.jpg" width="190" height="90" alt="">
       </a></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="padding-left:70%; "  >
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testmonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact us">Contact Us</a>
      </li>
    </ul>

  </div>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

{%for u in universites}
<div class="card">
  <div class="card-header">
    {{user.university}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{user.status}}<br>university appointment number:{{user.universitydetails}}</p>
      <footer class="blockquote-footer">{{user.i20}} <cite title="Source Title">{{user.visa}}</cite></footer>
    </blockquote>
  </div>
    {%forend%}
</div>





<div class="container"style="padding-top:40%;padding-left:33%;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60917.151254165015!2d78.44992410195266!3d17.396330338141794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99dd04d9c333%3A0x2a218c659b282178!2sVISA9%20EDUCATIONAL%20CONSULTING%20SERVICES!5e0!3m2!1sen!2sin!4v1582781305818!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
  <div class="container" style="text-align:center; background-color:black;">
      <hr>
      <font color="white">
      <h3 ><b>Contact Us</b></h3><br>
          <p id="contact us">call: 8885255545 | Email: info@visa9.co.in</p><br>
          </font><hr>
  </div>
  <div><h5 style="text-align: center;"><b>ⓒ MT. All Rights Reserved. CONTACT:9533195436</b></h5></div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>